{% extends "base.html" %}

{% block title %} {{product_detail.name}} | {{ block.super }} {% endblock  %}

{% block content %}
<section id="product_detail">
    <div class="container">
        <h1>{{product_detail.name}}</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="https://dummyimage.com/600x400/000/fff" alt="...">
                    
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <table class="table">
                    <tr>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                    <tr>
                        <td>R${{product_detail.price}}</td>
                        <td>{{product_detail.quantity}}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th>Descrição</th>
                    </tr>
                    <tr>
                        <td>{{product_detail.description|linebreaks}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>
{% endblock %}